.events {
  text-align: center;
  h1 {
    font-family: $press;
    margin-bottom: 55px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    .event {
      margin-bottom: 30px;
      .event--title {
        text-transform: uppercase;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}

.event--modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  pointer-events: none;
  color: black;
  transition: all 500ms;
  &.event--modal-open {
    z-index: 99;
    pointer-events: all;
    background-color: rgba(black, 0.6);
  }
  .close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-family: $press;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .event--modal-container {
    width: 100%;
    height: 100%;
    position: relative;
    .modal-content {
      position: absolute;
      padding: 55px 30px;
      min-height: 250px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      border: 1px solid black;
      >div {
        margin-bottom: 15px;
      }
      .event--title {
        font-family: $press;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 25px;
      }
    }
  }
}