html{
  font-size: 14px;
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  background-color: #f1f2f2;
  font-family: $sans;
  padding-top: 70px;
  letter-spacing: 0.125rem;
  height: calc(100% - 70px);
}
#root, .App{
  height: 100%;
  width: 100%;
}
.app-content{
  height: 100%;
}