html {
  font-size: 14px;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f2f2;
  font-family: $sans;
  padding-top: 70px;
  letter-spacing: 0.125rem;
  height: calc(100% - 70px);
}

#root,
.app,
.app-transition,
.page {
  height: 100%;
  width: 100%;
}

.app-content {
  height: 100%;
}

.page-transition-enter {
  opacity: 0.01;
}

.page-transition-enter.page-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit.page-transition-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}